<!DOCTYPE html>
<html ng-app="beercounter">
	<head>
	<title>Biermeter</title>
	<link rel="stylesheet" href="static/fonts/fonts.css" />
	<link rel="stylesheet" href="static/style.css" />
	<link rel="stylesheet" href="lib/foundation/css/foundation.min.css" />
	<link rel="stylesheet" href="lib/slick-carousel/slick/slick.css" />
	<script src="lib/jquery/dist/jquery.min.js"></script>	
	<script src="lib/slick-carousel/slick/slick.min.js"></script>
	<script src="lib/angular/angular.min.js"></script>
	<script src="static/app.js"></script>
	<script src="static/custom.js"></script>
</head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<body ng-controller="SuperCtrl">
	<div class="slider">
		<div class="slide">
			<section class="row">
				<ul class="list">
					<div class="medium-4 small-6 columns mts" ng-repeat="entry in parsedEntries">
						<li class="list__name  list__name-{{entry['name']}}">
							<span class="list__content">
								<img class="list__image" src="http://dummyimage.com/200x200/000/fff">
								{{ entry['name'] }} <span>{{ entry['number'] }} </span>
							</span>
						</li>
			      	</div>
			    </ul>
			</section>
		</div>
		<div class="slide">
			<ul class="list">
				<div class="medium-6 small-6 columns mts" ng-repeat="entry in parsedEntries">
					<h1 class="rules">Regelementen</h1>
					<li class="list__name  list__name-{{entry['name']}}" ng-if="entry['rules']">
						<span class="list__content">
							{{ entry['rules'] }}
						</span>
					</li>
		      	</div>
		    </ul>
		</div>	
	</div> 
	<div class="slider-nav row">
		<div class="small-6 medium-6 columns">
			<h3 class="menu-item">Pitcherscore</h3>
		</div>
		<div class="small-6 medium-6 columns">
			<h3 class="menu-item">Regelement</h3>
		</div>
	</div>  
	</body>
</html>