

body {
   width: 100%;
   text-align: center;
   background-color: #fb3 !important;
}


.list__name{
   /* removed other styles to save space */
   height: 200px;
   font-size: 2em;
   font-family: hallo-heavy;
   display: inline-block;
   float: left;
   text-align: center;
   background-color: #340345;
   width: 100%;
   color: white;

}

.slider{
	width: 100%;
}

.slide{
	width: 100%;
}

.list__content{
	line-height: 200px;
	vertical-align: middle;
}

.button{
	height: 200px;
	line-height: 200px;
	vertical-align: middle;
	background-color: #de4524;
}

.button h2{
	font-size: 25px;
	color: white;
	font-family: hallo;
}

.mtm{
   margin-top: 15px;
}

@media screen and (max-width: 640px) {

	.container{
		width: 100%;
	}
		
	.list__name{
		width: 100%;
		margin-left: 0px;
	}	

}
